* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
  border-bottom: 1px solid grey;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  color: black;
}

li {
  list-style: none;
}

input,
select {
  border: 1px solid black;
}

select {
  padding: 5px;
}

select:active {
  padding: 5px;
}

input {
  width: 100%;
  max-width: 100%;
}

.m-1 {
  margin: 2px 0px;
  padding: 5px;
}

.header {
  padding: 10px 0;
}

.modal-show {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  position: fixed;
}

.modal-heading {
  font-size: 18px;
  text-align: left;
  border-bottom: 1px solid grey;
  padding-left: 0;
  font-weight: bold;
}

/* Utility classes */

.row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-se {
  display: flex;
  justify-content: space-evenly;
}

.bold {
  font-weight: bold;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 16px;
}

.order {
  margin: 0.1rem 0;
  padding: 10px;
  text-align: left;
}

.page-item {
  margin: 0 10px;
}

.order-list {
  margin: 0 auto;
  width: 70%;
}

.order-header {
  margin: 0.5rem 0;
  padding: 10px;
  font-weight: bold;
  background-color: grey;
  border-radius: 5px;
}

.order-quantity {
  text-align: center;
}

.headerSortUp {
  background: url("data:image/gif;base64, R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==")
    no-repeat 99%;
}

.btn {
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 6px 12px;
  border-radius: 2px;
}

.btn-primary {
  background-color: rgb(0, 136, 204);
  border-color: #2e6da4;
}

.btn-danger {
  background-color: red;
}

.btn-info {
  background-color: grey;
}

.submit {
  margin: 10px auto;
}

.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.64);
  left: 0;
  top: 0;
  z-index: 999;
  padding: 10% 0;
}

.modal-body {
  margin-top: 10%;
  background-color: #f4f5f7;
  margin: auto;
  padding: 0.5rem;
  width: 30%;
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
